@model HomeDetailsViewModel

@{
    ViewBag.Title = "Employee Details";
    var photoPath = "~/images/" + (Model.Employee.PhotoPath ?? "cover.jpg");
}

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Employee.Name</h1>
            </div>

            <div class="card-body text-center">
                <img class="card-img-top" src="@photoPath" asp-append-version="true" />

                <h4>Employee ID : @Model.Employee.Id</h4>
                <h4>Email : @Model.Employee.Email</h4>
                <h4>Department : @Model.Employee.Department</h4>

            </div>
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="index" class="btn btn-primary">Back</a>
                <a asp-controller="home" asp-action="edit" asp-route-id="@Model.Employee.Id"
                   class="btn btn-primary m-1">Edit</a>

                <form asp-controller="home" asp-action="delete"
                      asp-route-id="@Model.Employee.Id" method="get">
                    <!--potwieerdzenie usuniecia w okienku onclick
                    onclick="return confirm('Are you sure you want to delete user: parametre')  -->
                    <span id="confirmDeleteSpan_@Model.Employee.Id" style="display:none">
                        <span>Are you sure you want to delete?</span>
                        <button class="btn btn-danger" type="submit">Yes</button>
                        <a href="#" class="btn btn-primary"
                           onclick="confirmDelete('@Model.Employee.Id', false)">No</a>
                    </span>

                    <span id="deleteSpan_@Model.Employee.Id">
                        <a class="btn btn-danger"
                           onclick="confirmDelete('@Model.Employee.Id', true)">Delete</a>
                    </span>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/CustomScript.js"></script>
} 